@page
@model CarShopManagement.Pages.Products.IndexModel
@{
}

<div class="d-flex container">
    @foreach (var item in Model.Product)
    {
        var photopath = "~/img/" + item.ImgPath;

        <div class="card" style="width: 18rem;">
            <img src="@photopath" class="card-img-top" asp-append-version="true" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.Price</p>
                <div class="d-flex">
                    <form asp-action="OnPost" method="post">
                        <input hidden name="productid" value="@item.ID">
                        <button type="submit" href="#" class="btn btn-primary">Delete</button>
                    </form>
                    <a asp-page="/Products/Edit" class="btn btn-primary" asp-route-id="@item.ID">Edit</a>
                    <a asp-page="/Products/ShowDetail" class="btn btn-primary" asp-route-id="@item.ID">Show Detail</a>
                </div>
            </div>
        </div>
    }
</div>