@page "/products/view/{id}"
@model CarShopManagement.Pages.Products.ShowDataModel
@{
    var photopath = "~/img/" + Model.Product.ImgPath;
}

<h2>Notification's Settings</h2>
<form method="post" class="border-bottom mb-5" asp-page-handler="UpdateNotifications">
    <div class="form-check">
        <input asp-for="Notify" class="form-check-input" />
        <label asp-for="Notify" class="form-check-label">Notify me via email</label>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Submit Settings</button>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="alert alert-primary mt-3">@Model.Message</div>
    }
</form>

<div class="container">
    <img src="@photopath" asp-append-version="true" class="img-card" />
    <h1 class="mt-4">@Model.Product.ProductName</h1>
    <h3>Price : @Model.Product.Price $</h3>
    <h5>Product Barcode = @Model.Product.Barcode</h5>
    <p>@Model.Product.Description</p>
    <a asp-page="/products/index" class="btn btn-primary">Back to Menu</a>
</div>